[uwsgi]
plugin = python3

chdir = /data/apps/todos_django/app
mount = /apps/todos_django=todos_project/wsgi.py
manage-script-name = true
needs-app = true

touch-reload = /etc/uwsgi/apps-available/todos_django.ini

# define if needed
venv = /data/apps/todos_django/venv

env = ENVIRONMENT_NAME=pygrn
env = ALLOWED_HOSTS=*
env = STATIC_ROOT=/data/apps/todos_django/static/
env = APP_URL=/apps/todos_django/

# execution
socket = /data/apps/todos_django/run/uwsgi.sock

workers = 1
threads = 5

# logging
logto = /data/apps/todos_django/run/log.log
log-date = true

# system
master = true
die-on-term = true
